* {
  margin: 0;
  padding: 0;
}

body,
input,
select,
option,
button {
  font-family: 'Montserrat', 'arial';
  font-size: 16px;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.hero {
  background: #e1ff8f;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.welcome {
  grid-column: span 8;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 48px;
  max-width: 769px;
  padding-top: 196px;
  padding-bottom: 246px;
}

.header {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 24px;
}

.header__title {
  font-weight: 700;
  font-size: 64px;
  color: #202027;
}

.header__description {
  font-weight: 400;
  font-size: 24px;
  line-height: 133%;
  color: #202027;
}

.accent {
  font-weight: 600;
}

.go {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  background: #202027;
  border: 1px solid #202027;
  border-radius: 60px;
  padding: 16px 28px;
  width: 247px;
  height: 66px;
  font-weight: 600;
  font-size: 24px;
  line-height: 142%;
  text-align: center;
  color: #fff;
  cursor: pointer;
}

.go:hover {
  background: #fff;
  color: #000;
}

.about-games {
  background: #202027;
}

.about-games__content {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 72px;
  padding-top: 94px;
  padding-bottom: 96px;
}

.about-games__header {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 24px;
}

.about-games__title {
  font-weight: 700;
  font-size: 64px;
  color: #fff;
}

.about-games__description {
  font-weight: 400;
  font-size: 24px;
  line-height: 133%;
  color: #fff;
}

.games {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 32px;
  flex-wrap: wrap;
}

.game {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 0px;
  border-radius: 30px;
  width: 378px;
  cursor: pointer;
  box-shadow: 0 13px 42px -8px rgba(0, 0, 0, 0.13);
  background: #fff;
  box-sizing: border-box;
  height: auto;
}

.game__img {
  display: block;
  border-radius: 30px;
  height: 314px;
  background: #ad61ff;
}

.game__footer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 10px;
  border-radius: 30px;
  padding: 32px 32px 36px;
  box-sizing: border-box;
}

.game__info {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 16px;
  box-sizing: border-box;
}

.game__number {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 0px;
  border-radius: 53px;
  padding: 8px 16px 10px;
  width: 108px;
  height: 36px;
  background: #f7f7f7;
  font-weight: 500;
  font-size: 16px;
  line-height: 110%;
  color: #202027;
  box-sizing: border-box;
}

.game__title {
  font-weight: 700;
  font-size: 32px;
  color: #202027;
}
