* {
  margin: 0;
  padding: 0;
}

body,
input,
select,
option,
button {
  font-family: 'Montserrat', 'arial';
  font-size: 16px;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.hero {
  background: #e1ff8f;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  position: relative;
}

.welcome {
  grid-column: span 8;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 48px;
  max-width: 769px;
  padding-top: 196px;
  padding-bottom: 246px;
}

.header {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 24px;
}

.header__title {
  font-weight: 700;
  font-size: 64px;
  color: #202027;
}

.header__description {
  font-weight: 400;
  font-size: 24px;
  line-height: 133%;
  color: #202027;
}

.accent {
  font-weight: 600;
}

.go {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  background: #202027;
  border: 1px solid #202027;
  border-radius: 60px;
  padding: 16px 28px;
  width: 247px;
  height: 66px;
  font-weight: 600;
  font-size: 24px;
  line-height: 142%;
  text-align: center;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s;
}

.go:hover {
  background: #fff;
  color: #000;
}

.hero__star-1 {
  position: absolute;
  top: 94px;
  left: 63px;
}

.hero__star-2 {
  position: absolute;
  right: 0;
}

.hero__star-3 {
  position: absolute;
  top: 538px;
  right: 455px;
}

.hero__star-4 {
  position: absolute;
  top: 568px;
  right: 344px;
}

.hero__star-5 {
  position: absolute;
  top: 69px;
  left: 156px;
}

.hero__treangle {
  position: absolute;
  top: 468px;
  right: 113px;
}

.hero__line-1 {
  position: absolute;
  right: 269px;
}

.hero__line-2 {
  position: absolute;
  top: 254px;
  right: 231px;
}

.hero__line-3 {
  position: absolute;
  top: 379px;
  right: 0;
}

.hero__line-4 {
  position: absolute;
  top: 663px;
  right: 61px;
}

.about-games {
  background: #202027;
  position: relative;
  padding-top: 94px;
  padding-bottom: 50px;
}

.about-games__content {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 72px;
}

.about-games__header {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 24px;
}

.about-games__title {
  font-weight: 700;
  font-size: 64px;
  color: #fff;
}

.about-games__description {
  font-weight: 400;
  font-size: 24px;
  line-height: 133%;
  color: #fff;
}

.games {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-direction: row;
  gap: 32px;
  flex-wrap: wrap;
}

.game {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  border-radius: 30px;
  width: 378px;
  cursor: pointer;
  box-shadow: 0 13px 42px -8px rgba(0, 0, 0, 0.13);
  background: #fff;
  box-sizing: border-box;
  height: auto;
  transition: all 0.5s;
  z-index: 1;
}

.game__link {
  text-decoration: none;
}

.game:hover {
  transform: scale(1.1);
}

.game__img {
  display: block;
  border-radius: 30px;
  height: 314px;
  background: #ad61ff;
}

.game__footer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 10px;
  border-radius: 30px;
  padding: 32px 32px 36px;
  box-sizing: border-box;
}

.game__info {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 16px;
  box-sizing: border-box;
}

.game__number {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  border-radius: 53px;
  padding: 8px 16px 10px;
  width: 108px;
  height: 36px;
  background: #f7f7f7;
  font-weight: 500;
  font-size: 16px;
  line-height: 110%;
  color: #202027;
  box-sizing: border-box;
}

.game__title {
  font-weight: 700;
  font-size: 32px;
  color: #202027;
}

.about-games__star-1 {
  position: absolute;
  top: 77px;
  right: 0;
}

.about-games__star-2 {
  position: absolute;
  top: 770px;
  left: 25px;
}

.about-games__star-3 {
  position: absolute;
  top: 822px;
  left: 40px;
}

.mini-games {
  background: #202027;
  position: relative;
  padding-top: 46px;
  padding-bottom: 144px;
}

.mini-games__content {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 72px;
}

.mini-games__title {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 72px;
  width: 1200px;
  height: 78px;
  font-weight: 700;
  font-size: 64px;
  color: #fff;
}

.mini-games__plays {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 32px;
}

.game_mini {
  flex-direction: row;
  gap: 0px;
  width: 1200px;
  height: 500px;
  box-shadow: 0 20px 67px -12px rgba(0, 0, 0, 0.13);
  cursor: auto;
}

.game_mini:hover {
  transform: none;
}

.game__img_mini {
  width: 600px;
  height: 500px;
}

.game__info_mini {
  gap: 10px;
  padding: 48px;
  width: 600px;
  height: 500px;
}

.game__content {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 36px;
  width: 504px;
  height: 249px;
}

.game__header {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 24px;
  width: 504px;
}

.game__title_mini {
  font-size: 48px;
}

.game__description {
  font-weight: 400;
  font-size: 24px;
  line-height: 133%;
  color: #202027;
}

.game__play {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  border-radius: 60px;
  padding: 16px 28px;
  width: 247px;
  height: 66px;
  background: #202027;
  font-weight: 600;
  font-size: 24px;
  line-height: 142%;
  text-align: center;
  color: #fff;
  text-decoration: none;
}

.game__play:hover {
  background: #fff;
  color: #000;
  border: 1px solid #000;
}

.mini-games__star-1 {
  position: absolute;
  top: 93px;
  right: 124px;
}

.mini-games__star-2 {
  position: absolute;
  top: 126px;
  right: 45px;
}

.mini-games__star-3 {
  position: absolute;
  bottom: 45px;
  right: 150px;
}

.mini-games__star-4 {
  position: absolute;
  bottom: 65px;
  right: 52px;
}
